@{
    ViewBag.Title = "About Blow Out Instruments";
}
<h3>@ViewBag.Title</h3>

<div class="row">
    <div class="col-md-6">
        <img class="img img-responsive img-rounded" src="~/Content/Images/founder.jpg" />
    </div>
    <div class="col-md-6">
        <h4><b>History</b></h4>
        <hr style="margin: 0" />
        <p style="line-height: 1.6">
            BlowOut Instrument Rentals was born in 1935 out of the goodness of Louis Armstrong's heart.  Heralded
            as one of the most influential figures in early Jazz history, ol' Pops (his nickname) put it
            upon us to start a rental business affordable and accessible to everyone.
        </p>
        <br />
        <h4><b>Mission</b></h4>
        <hr style="margin: 0" />
        <p style="line-height: 1.6">
            We love all brass or woodwind instruments and hope to help you
            become the best musician you can be.  We want to put quality instruments in everyone's hands and
            shape the future of jazz through you.  If you are not satisfied with anything you find on this site, please
            reach out to us through any of the methods listed under the "Contact" section.
        </p>
    </div>
</div>