@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    One Nowhere Lane<br />
    Provo, UT 84606<br />
    Phone: 123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@blowout.com">support@blowout.com</a>
</address>