@model IEnumerable<BlowOut.Models.Instrument>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Rentals</h1>
    <p class="lead">Select the instrument you would like to know more about.</p>
</div>

<div class="row">
    @foreach (var instrument in Model)
    {
        if (instrument.type == "new")
        {
        <a href="@Url.Action("Instrument", "Rentals", new { instrumentID = instrument.instrumentID })">
            <figure class="col-md-2">
                <figcaption class="figure-caption text-center"><b>@instrument.instDescription</b></figcaption>
                <img class="img img-responsive img-rounded splashImage" src="~/Content/Images/@instrument.instDescription@(".jpg")"
                     alt="@instrument.instDescription" data-toggle="tooltip" title="@instrument.instDescription" />
                <figcaption class="figure-caption btn btn-success btn-block">Rent Me!</figcaption>
            </figure>
        </a>
        }
    }
</div>